<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--Icon displyed on the tab-->
    <link rel="icon" type="image/png" href="static/images/tab logo.png">

    {# {% load static %} #}

    <title>Home Page</title>
  </head>
    <body style="background-color: black;">
        <div class="row" style="background-color: black;" >
            <div class="col-md-12" style="color: white;">
                <h1 style="text-align: center;" id="Home">Haven Eclipse</h1>
            </div>
        </div>

        <nav class="navbar navbar-expand navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#About us">About us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/music">Music</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tours">Tours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user_auth/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user_auth/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user_auth/register">Register</a>
                    </li>
                </ul>
            </div>
        </nav>


            <!--The background picture of the whole band-->
            <div class="background">
                <img src="static/images/band picture 2.jpg" alt="band picture 1" width="100%">
            </div>

            <!--The bands about information-->
            <div class="row" style="text-align: center;">
                <div class="col-md-12" style="color: white;"><h1 id="About us" >About us</h1>
                    <p>Haven Eclipse a band formed by 3 amazing Metal artist Max, Joey and Ben.The band was formed on the 11 July 2017 <br> Just recently after they have met at tryouts at an audition for a gig in Chicago.Haven Eclipse have honed a technical, multi-genre  <br> approach to Metal music that sounds like the product of a completely diffrent genre.Ripping, Serpantine riffs and bashing <br> breakdowns will make it almost impossible for Haven Eclipse to lose your attention.They have recieved an a award <br> for the best Metal group band in 2018 awarded ny the New York Times.This band has just entered the <br> music scene and they are already making waves.</p>
                </div>
            </div>

            <br>

            <!--Individual band members and their names with the instruments they play-->
            <div class="row" style="color: white;">
                <div class="col-md-12">
                <h2 style="text-align: center;">Picture of the band members:</h2>
                </div>
            </div> 
                
                <br>
            
            <div class="row">
                <div class="col-med-4" style="padding: 27px;">
                    <img src="static/images/ben.jpg"width="400px" height="300px" class="Ben" alt="Picture of Ben"/>
                    <div style="text-align: center;">
                        <p style="color: white;">Ben Walsh</p>
                    </div> 

                    <div style="color: white;" style="text-align: left;">
                        <ul>
                            <li>The lead electric guitarist.</li>
                            <li>The Metal bobbing star</li>
                        </ul>
                    </div>
                </div>
        
                <div class="col-med-4" style="padding: 27px;">
                    <img src="static/images/joey.jpg" width="400px" height="300px" class="Joey" alt="Picture of Joey"/>
                    <div style="text-align: center;">
                        <p style="color: white;">Joey Mural</p>
                    </div>

                    <div style="color: white;" style="text-align: left;">
                        <ul>
                            <li>The lead vocalist.</li>
                            <li>The multi-neck guitarist</li>
                        </ul>
                    </div>
                </div>

                <div class="col-med-4" style="padding: 27px;">
                    <img src="static/images/jax.jpg" width="400px" height="300px" class="Max" alt="Picture of Max"/>
                    <div style="text-align: center;">
                        <p style="color: white;" >Max Wolfstien</p>
                    </div>

                    <div style="color: white;" style="text-align: left;">
                        <ul>
                            <li>The backup singer</li>
                            <li>The co electric guitarist.</li>
                        </ul>
                    </div>
                </div>
            </div>


            <!--Locations where the band is going to play-->


            <!--Copyright information-->
            <div class="footer" style="color: rgb(255, 255, 255);" style="text-align: center;">
                <div style="text-align: center;">
                    <h7>Author : Deandre' Wright <br> &copy;copy right reserved <br></h7>
                </div>
            </div>
    </body>
</html>

